.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  text-align: center;
  background-color: #0c1224;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 0 0 60px #04ccda;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image:  url("./images/tom1.png");
  background-size: cover;
}

.a {
  background-image: url("./images/tom2.png");
  background-size: cover;
}

.s {
  background-image: url("./images/tom3.png");
  background-size: cover;
}

.d {
  background-image: url("./images/tom4.png");
  background-size: cover;
}

.j {
  background-image: url("./images/crash.png");
  background-size: cover;
}

.k {
  background-image: url("./images/kick.png");
  background-size: cover;
}

.l {
  background-image: url("./images/snare.png");
  background-size: cover;
}

.set {
  margin: 100px auto;

}
.set .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #6a94ee;
  text-shadow: 3px 0 10px #000000;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: white;
  cursor: pointer;
}
